<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterize-Memorize</title>
</head>
<body style="background-color: beige;">
    <hr>
    <form action="/" method="post">
        {% csrf_token %}
        <textarea name="text" cols="80" rows="5"></textarea>
        <br>
        <input type="submit">
    </form>
    <hr>
    <div style="font-family: 'Vazir Code'; margin: 1%; padding: 1%;">
        {% for word in results %}
            <span alt="{{ word.word }}" title="{{ word.word }}"
                style="background-color: rgb(216, 216, 216); padding: 1%; width: 10em; border-bottom: 1px solid gray; font-size: 2em; font-weight: bold;"
                >{{ word.letterized_3 }}</span>
            <span>
                <b>
                    <br>
                    definition: {{ word.definition }}
                    <br>
                    synonyms: {{ word.synonyms }}
                    <br>
                    antonyms: {{ word.antonyms }}
                </b>
            </span>
            <br><br><br>
        {% endfor %}
    </div>
    <hr>
</body>
</html>
