<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterize-Memorize</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body style="background-color: beige;">
    <div style="font-family: 'Vazir Code'; margin: 1%; padding: 1%;">
        <center>
            <br><br>
            
            word:
            <h1 id="word" style="font-size: 4em; text-decoration: underline;"></h1>
            <hr>
            
            definitions:
            <h2 id="definitions" style="font-size: 2em;"></h2>
            <hr>
            examples:
            <h2 id="examples" style="font-size: 2em;"></h2>
            <hr>
            
            synonyms:
            <h2 id="synonyms" style="font-size: 2em;"></h2>
            <hr>
            antonyms:
            <h2 id="antonyms" style="font-size: 2em;"></h2>
            <hr>
        </center>
    </div>
    
    <script>
        function reset(data={}){
            $.post(url='/words/', data=data, success=function(data){
                data = JSON.parse(data);
                word = data.word;
                definitions = data.definitions;
                examples = data.examples;
                synonyms = data.synonyms;
                antonyms = data.antonyms;
                $('#word').html(data.word);
                $('#definitions').html(data.definitions);
                $('#examples').html(data.examples);
                $('#synonyms').html(data.synonyms);
                $('#antonyms').html(data.antonyms);
            });
        }
        
        reset();
        
        $(document).keydown(function(e){
            reset();
        });
    </script>
</body>
</html>
